/** @format */

@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Rubik+Wet+Paint&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	display: flex;
	align-items: center;
	height: 65px;
	background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
	padding: 20px 4%;
	color: white;
}

header > img {
	height: 26.2px;
	width: 31.3px;
	margin-right: 6px;
}

header > h1 {
	font-size: 20px;
	margin-right: auto;
}

header > h4 {
	font-size: 12px;
	font-weight: 500;
	line-height: 14.52px;
}

main {
	padding: 36px;
}

form {
	display: grid;
	grid-template: 40px 40px / 1fr 1fr;
	gap: 17px;
}

.main button {
	grid-column: 1 / -1;
	font-family: sans-serif;
	border-radius: 5px;
	height: 45px;
	width: 100%;
	cursor: pointer;
	background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
	color: white;
	font-size: 16px;
	font-weight: 700;
	line-height: 19px;
	/* letter-spacing: -0.1em; */
	text-align: center;
	border: none;
}

form > input {
	font-family: sans-serif;
	border-radius: 5px;
	outline: none;
	border: 1px solid #d5d4d8;
	text-indent: 10px;
}

.meme--image {
	width: 100%;
	height: 400px;
	object-fit: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.meme {
	position: relative;
	width: 100%;
	height: 400px;
	margin-top: 50px;
}

.meme--text {
	color: black;
	font-weight: 900;
	font-size: 4rem;
	text-align: center;
	font-family: "Rubik Wet Paint", cursive;
}

.top {
	position: absolute;
	top: 20px;
	left: 20rem;
	text-align: center;
}

.bottom {
	position: absolute;
	bottom: 20px;
	left: 20rem;
}
