/** @format */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	display: flex;
	align-items: center;
	height: 65px;
	background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  padding: 20px 4%;
  color: white;
}

header > img {
	height: 26.2px;
	width: 31.3px;
  margin-right: 6px;
}

header > h1 {
  font-size: 20px;
  margin-right: auto;
}

header > h4 {
  font-size: 12px;
  font-weight: 500;
  line-height: 14.52px;
}